.header__nav
  = icon("fas","bars", class: "header__nav-icon")
.header__logo
  %h1 casa blanca
.header__menu
  %ul.header__menu__lists
    %li.menu__list
      Home
      %span /
    %li.menu__list
      Hostels
      %span /
    %li.menu__list
      Hotels
      %span /
    %li.menu__list
      Groups
      %span /
    %li.menu__list
      Blogs
.header__user
  -if user_signed_in?
    = current_user.nickname
  -else
    = link_to new_user_session_path do
      Log in
.header__drop-menu.not-show
  .drop-menu
    %ul.drop-menu__lists
      %li.user-menu
        = icon("fas","laugh-wink", class: "user-menu__icon")
        .user-menu__text
          -if user_signed_in?
            = current_user.nickname
          -else
            = link_to new_user_session_path do
              %span Log in
      %li.casa-menu
        casa
        %ul.casa-menu__lists
          %li.casa-menu__list
            Hostels
          %li.casa-menu__list
            Hotels
          %li.casa-menu__list
            Groups
          %li.casa-menu__list
            Blogs
      %li.help-menu
        help
        %ul.help-menu__lists
          %li.help-menu__list
            About Us
          %li.help-menu__list
            Work With Us
          %li.help-menu__list
            Customer Service
          %li.help-menu__list
            Website Feedback
    .drop-menu__btn
      = icon("fas","times", class: "drop-menu__btn-icon")