.Header
  .Header__inner
    = link_to root_path, class: "Header__inner-link" do
      %h2 casa blanca
.sign-up
  .sign-up__upper
    = image_tag "door-2096367_1920.jpg", class: "sign-up__upper-image"
    %h2.sign-up__upper-text1 Create
    %h2.sign-up__upper-text2 Account
    %p Free to Sign Up
  .sign-up__middle
    = form_for @user, url: user_registration_path(current_user), html: { method: :patch } do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :nickname, class: "field__label"
        %br/
        = f.text_field :nickname, autofocus: true, placeholder: "nickname", class: "field__input"
        = icon("far", "user", class: "field__icon")
      .field
        = f.label :email, class: "field__label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class:"field__input"
        =icon("fas","at", class: "field__icon")
      .field
        = f.label :password, class: "field__label"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "field__input"
        =icon("fas","lock", class: "field__icon")
      .field
        = f.label :password_confirmation, class: "field__label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confirmation", class: "field__input"
        =icon("fas","lock", class: "field__icon")
      .field
        = f.label :first_name, class: "field__label"
        %br/
        = f.text_field :first_name, placeholder: "first name", class: "field__input"
        = icon("far", "user", class: "field__icon")
      .field
        =f.label :family_name, class: "field__label"
        %br/
        =f.text_field :family_name, placeholder: "family name", class: "field__input"
        = icon("far", "user", class: "field__icon")
      .field-birthday
        = f.label :birthday, class: "field-birthday__label"
        %br/
        != sprintf( f.date_select(:birthday, require:true,with_css_classes:'XXXXX', prompt:[:day,:month,:year],use_month_numbers:true, start_year:Time.now.year, end_year:1900, order:[:day,:month,:year]))
      .actions
        = f.submit "Create Account", class: "actions-btn"
  .sign-up__rower
    %p Already you have account?
    = render "devise/shared/links"
