.header
  = render "header"
.main
  .main__upper
    .main__upper-slick
      .slick-list
        = image_tag "oia-416136_1920.jpg", class: "slick-list__image"
      .slick-list
        = image_tag "white-village-5361750_1920.jpg", class: "slick-list__image"
      .slick-list
        = image_tag "city-4820579_1920.jpg", class: "slick-list__image"
  .main__search-form
    %input.main__search-form__text{type: "text", placeholder: "Search by city or hostel name..."}
    %input.main__search-form__date-start{type: "date", value: "2020-01-01"}
    %input.main__search-form__date-end{type: "date", value: "2020-01-01"}
    %input.main__search-form__guest{type: "select", prompt: "Guest"}
    %input.main__search-form__btn{type: "submit", value: "Search"}
  .main__search-form-js
    %input.main__search-form-js{tyoe: "text", placeholder: "Search by city or hostel name..."}
  .main__search-form-mobile.not-show
    .search-mobile
      .search-mobile__title
        %span Search
      .search-mobile__input
        %input{type: "text", placeholder: "Search by city or hostel name..."}
      .search-mobile__close
        = icon("fas","times", class: "search-mobile__close-icon")
  .main__list
    .main__list__related-casa
      .main__list__related-casa-title
        %h2.main_list___related-casa-title-text
          %span Hostels you might like
      %ul.main__list__related-casa-lists
        %li.main__list__related-casa-list-first
          = image_tag "japan-1366872_1920.jpg", class: "main__list__related-casa-list-first-image", alt: "casa-image"
          %h3.related-casa__place
            %span Japan
          .related-casa__info
            .related-casa__info-left
              %p.related-casa__info-left-name
                %span Hostel sample
              %p.related-casa__info-left-type
                %span Hostel
            .related-casa__info-right
              %p.related-casa__info-right-upper
                %span from
              %p.related-casa__info-right-middle
                %span 10.00
              %p.related-casa__info-right-rower
                %span USD
        %li.main__list__related-casa-list
          = image_tag "pool-720697_1280.jpg", class: "main__list__related-casa-list-image", alt: "casa-image"
          %h3.related-casa__place
            %span United States
          .related-casa__info
            .related-casa__info-left
              %p.related-casa__info-left-name
                %span Hostel sample
              %p.related-casa__info-left-type
                %span Hostel
            .related-casa__info-right
              %p.related-casa__info-right-upper
                %span from
              %p.related-casa__info-right-middle
                %span 10.00
              %p.related-casa__info-right-rower
                %span USD
        %li.main__list__related-casa-list
          = image_tag "window-3178666_1920.jpg", class: "main__list__related-casa-list-image", alt: "casa-image"
          %h3.related-casa__place
            %span Georgia
          .related-casa__info
            .related-casa__info-left
              %p.related-casa__info-left-name
                %span Hostel sample
              %p.related-casa__info-left-type
                %span Hostel
            .related-casa__info-right
              %p.related-casa__info-right-upper
                %span from
              %p.related-casa__info-right-middle
                %span 10.00
              %p.related-casa__info-right-rower
                %span USD
        %li.main__list__related-casa-list
          = image_tag "castle-park-806854_1920.jpg", class: "main__list__related-casa-list-image", alt: "casa-image"
          %h3.related-casa__place
            %span UK
          .related-casa__info
            .related-casa__info-left
              %p.related-casa__info-left-name
                %span Hostel sample
              %p.related-casa__info-left-type
                %span Hostel
            .related-casa__info-right
              %p.related-casa__info-right-upper
                %span from
              %p.related-casa__info-right-middle
                %span 10.00
              %p.related-casa__info-right-rower
                %span USD
        %li.main__list__related-casa-list
          = image_tag "beach-house-1505461_1920.jpg", class: "main__list__related-casa-list-image", alt: "casa-image"
          %h3.related-casa__place
            %span Cambosia
          .related-casa__info
            .related-casa__info-left
              %p.related-casa__info-left-name
                %span Hostel sample
              %p.related-casa__info-left-type
                %span Hostel
            .related-casa__info-right
              %p.related-casa__info-right-upper
                %span from
              %p.related-casa__info-right-middle
                %span 10.00
              %p.related-casa__info-right-rower
                %span USD
    .main__list__recommend
      .main__list__recommend-title
        %h2.main__list__recommend-title-text
          %span Top Destinations
      %ul.main__list__recommend-lists
        %li.main__list__recommend-list
          = image_tag "canal-1209808_1920.jpg", class: "main__list__recommend-list-image", alt: "place-image"
          %p.recommend-place-name
            %span Italy
        %li.main__list__recommend-list
          = image_tag "water-4848741_1920.jpg", class: "main__list__recommend-list-image", alt: "place-image"
          %p.recommend-place-name
            %span Where?
        %li.main__list__recommend-list
          = image_tag "hungary-4544781_1920.jpg", class: "main__list__recommend-list-image", alt: "place-image"
          %p.recommend-place-name
            %span Hungary
    .main__list__ranking
      %h3.main__list__ranking-title
        %span Recommend ranking
      %ul.main__list__ranking-lists
        %li.ranking-list
          %span Japan
        %li.ranking-list
          %span Cuba
        %li.ranking-list
          %span Brasil
        %li.ranking-list
          %span India
        %li.ranking-list
          %span Spain
        %li.ranking-list
          %span UK
        %li.ranking-list
          %span Morocco
        %li.ranking-list
          %span Costa Rica
        %li.ranking-list
          %span Tahichi
        %li.ranking-list
          %span Bhutan

.footer
  =render "footer"