.header-form
  %h1.header-form__title
    =link_to root_path do
      %span casa blanca
.main-form
  .main-form__field
    =form_with model: @casa, local: true do |f|
      %h2.main-form__field__title
        Edit Your Information
      .main-form__field__text
        = f.label :name, class: "main-form__field__text-label"
        = f.text_field :name, placeholder: 'casa name', class: "main-form__field__text-form"
      .main-form__field__text
        = f.label :description, class: "main-form__field__text-label"
        = f.text_field :description, class: 'input-box__description', placeholder: "put address and click search button"
        = icon("fas","search-location", id: "searchAddressBtn")
      .map-area
        #map{:style => "width: 400px; height: 300px;"}
      .description-box
        = f.text_field :latitude, id: "post_latitude", readonly: "readonly"
        =f.text_field :longitude, id: "post_longitude", readonly: "readonly"
      .main-form__field__text
        =f.label :information, class: "main-form__field__text-label"
        =f.text_area :information, placeholder: "main information", class: "main-form__field__text-form"
      .main-form__field__images
        %p.main-form__field__images-title
          Upload your images
          #image-box
            #previews
            #labels
              #label.label-content-0
                -if @casa.persisted?
                  - @casa.images.each_with_index do |image, i|
                    = image_tag image.src.url, data: { index: i}, width: "100", height: "100"
                = f.fields_for :images do |image|
                  = image.label :src ,{id:"label-box--#{image.index}", class:"js-file_group", "data-index" => "#{image.index}"} do
                    =icon("fas","camera",class: "label-box-icon")
                    %pre.label-box__text-visible upload image
                    = image.file_field :src, class: 'js-file'
                  - if @casa.persisted?
                    = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                - if @casa.persisted?
                  .js-file_group{"data-index" => "#{@casa.images.count}"}
                    = file_field_tag :src, name: "product[images_attributes][#{@casa.images.count}][src]", class: "js-file"
                    .js-remove delete
      .main-form__field__important-information
        =f.label :important_information, class: "main-form__field__text-label"
        =f.text_area :important_information, placeholder: "important imformation", class: "main-form__field__text-form"
      .main-form__field__facilities
        = f.label :facilities, class: "main-form__field__facilities-label"
        = collection_check_boxes(:casa, :casa_facilities, Facility.all, :id, :facilityname) do |b|
          = b.label { b.check_box + b.text }
      .main-form__field__important-information
        =f.label :detail, class: "main-form__field__text-label"
        =f.text_area :detail, placeholder: "important imformation", class: "main-form__field__text-form"
      .main-form__field__submit
        = f.submit 'Next', class: "main-form__field__submit-btn"